body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin:2% 0 1% 10%;
  font-size: 30px;
}

/* Tabella degli utenti */
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 10% 0 10%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Form di aggiunta utente */
.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-container {
  background-color: #fefefe;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.form-container div {
  margin-bottom: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-container select{
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-container button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button[type="submit"] {
  background-color: #008CBA;
  margin-top:10px;
}

.form-container button[type="submit"]:hover {
  background-color: #0d8bf2;
}

.form-container button[type="submit"]:active {
  background-color: #0a5a8d;
}

.form-container button[type="submit"]:focus {
  outline: none;
}

.form-container button[type="submit"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.form-container button[type="submit"]:disabled:hover {
  background-color: #cccccc;
}

.form-container button:not([type="submit"]) {
  background-color: #f44336;
  margin-top: 5px;
}

.form-container button:not([type="submit"]):hover {
  background-color: #d30f0f;
}

.form-container button:not([type="submit"]):active {
  background-color: #8b0c0c;
}

.form-container button:not([type="submit"]):focus {
  outline: none;
}

.button-container{
  display: flex;
  justify-content: flex-end;
}
