<div [ngClass]="{'background-color': backgroundColor}">
  <div class="canvas nuvola">
    <canvas #myCanvas width="100vw" class="canvas"></canvas>
  </div>
  <div class="bg-image">
    <div class="search">
      <input #myInput type="text" [(ngModel)]="luogoSelezionato" (keyup)="cercaLuogo(myInput.value)"
             (keydown)="selezionaSuggerimento($event)" placeholder="Type here"
             class="input input-bordered input-primary w-full max-w-xs">
      <ul class="list">
        <li *ngFor="let luogo of luoghiPopup | async">{{luogo.location}}</li>
      </ul>

    </div>
  </div>
</div>
