<div [ngClass]="{'background-color': backgroundColor}">
  <div class="bg-image">
    <div class="search">
      <input #myInput type="text" [(ngModel)]="luogoSelezionato" (keyup)="cercaLuogo(myInput.value)"
             (keydown)="selezionaSuggerimento($event)" placeholder="Type here"
             class="input input-bordered input-primary w-full max-w-xs">

      <ng-container *ngIf="luoghiPopup | async as luoghi;">
        <ul *ngIf="luoghi.length > 0" class="menu bg-base-200 !w-fit p-2 rounded-box" id="list">

          <li class="menu-title">
            <span>Places</span>
          </li>

          <li *ngFor="let luogo of luoghi">
            {{luogo.nome}}
          </li>

          <li class="menu-title">
            <span>Near</span>
          </li>

          <li *ngFor="let luogo of luoghiNear()">
            {{luogo.nome}}
          </li>

        </ul>
      </ng-container>
    </div>
    <img [src]="qrCodeImage" alt="QR Code">
  </div>
</div>
