.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  width: 500px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.bg-image {
  background-image: url('src/assets/img/mountains.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

