.search {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*input {
  display: flex;
  justify-content: center;
  align-items: center;
}

#list {
  align-self: center;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  margin-left: 0;
}

#list > li {

}

.inputElements{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}*/

.bg-image {
  padding-top: 15%;
  background-image: url('src/assets/img/mountains.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 94vh;
  display: flex;
  flex-direction: column;
}

