.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
}

#list {
  position: absolute;
  top: 46%;
  left: 44%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  margin-left: 0;
}

#list > li {

}

.inputElements{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.bg-image {
  background-image: url('src/assets/img/mountains.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

#translate{
  margin: 100px 10px 10px 10px;
}
